.background {
    background-color: forestgreen;
}

.waterGapImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}

.pattersonImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}

.ellisImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}
.estellImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}

.morristownImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}
.pinelandsImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}