.background {
    /* background-color: forestgreen; */
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.lead {
    text-align: center;
}

.jumbotron {
    /* height: 200px; */
    height: 30vh;
    background: url('https://static.onecms.io/wp-content/uploads/sites/34/2019/07/25145747/fall-foliage-header-getty-0719.jpg') no-repeat fixed;
    background-size: cover;
    /* margin-top: 3rem; */


}

.waterGapImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}

.pattersonImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}

.ellisImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}
.estellImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}

.morristownImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}
.pinelandsImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}

.btn-center {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
}

/* 
footer {
    width: 100%;
    height: 50px;
    padding: 10px;
    position: relative;
    bottom: 0;
    text-align: center;
    background-color: burlywood;
    color: black;
} */

.bg-color {
    background-color: rgba(230, 230, 230, 0.76);
}