.background {
    background-color: forestgreen;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.lead {
    text-align: center;




}

.waterGapImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}

.pattersonImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}

.ellisImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}
.estellImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}

.morristownImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}
.pinelandsImg {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}